/* Date: 2016-09-23T17:16:46Z Path: css/pop/detail.css */
.etalage,.etalage_magnifier div,.etalage_magnifier div img,.etalage_small_thumbs ul,.etalage_wrap,.etalage_zoom_area div,.etalage_zoom_img,ul .etalage_small_thumbs li {
	position: relative
}

.etalage img,.hwg_air {
	vertical-align: bottom
}

.change_wrap,.pop_rebates {
	zoom: 1;
	overflow: hidden
}

.J_size_wrap li a,.addcart_btn:hover,.cat_wrap a:hover,.deal_detail a:hover,.phone_subscribe:hover,.pop_wish_btn:hover,.recent_view a:hover,.special_button:hover,.tab_content a:hover {
	text-decoration: none
}

.infoU5 li,.ini_select_div .ini_sel_input {
	text-overflow: ellipsis;
	white-space: nowrap
}

.pop_detail_body {
	width: 960px;
	margin: 0 auto
}

.pop_detail_body:after {
	height: 0;
	overflow: hidden;
	content: '';
	display: block;
	clear: both;
	zoom: 1
}

.etalage,.etalage .etalage_source_image,.etalage_hint,.etalage_icon,.etalage_magnifier div img,.etalage_source_image,.etalage_thumb,.etalage_thumb_image,.etalage_zoom_preview,.textarea_lazy {
	display: none
}

/* .pop_new_detail-sprite,.pop_price_bg,.subscription_btn {
	background: url(http://a5.jmstatic.com/d03b2005a1c8d794/pop_new_detail-sa9d9b6f308_v3.png) no-repeat
} */

.J_size_wrap .size_selected i,.commitment .ico2,.commitment .ico3,.commitment .ico4,.commitment .ico5,.commitment .ico6,.commitment .ico7,.commitment i,.deal_nav ul em,.pop_amount_wrap,.pop_detail_timer i,.pop_sold i,.seller_icon {
	background: url(../img/pop_detail_icon.png) no-repeat;
	_background-image: url(/images/pop/detail_v2/ie6_pop_detail_icon.png)
}

.etalage .etalage_thumb,.etalage .etalage_zoom_area,.etalage_zoom_area {
	background: url(../img/loading.gif) center no-repeat #fff
}

.breadcrumbs {
	color: #666;
	clear: both;
	height: 45px;
	line-height: 45px
}

.breadcrumbs a {
	color: #666
}

.pop_new_main {
	color: #999
}

.etalage_wrap {
	width: 375px;
	height: 600px;
	float: left;
	z-index: 3
}

.etalage {
	width: 375px;
	direction: ltr
}

.etalage .etalage_thumb_image {
	width: 375px;
	height: 500px
}

.etalage .etalage_small_thumbs li {
	border: 1px solid #FFF;
	margin: 10px
}

.etalage ul .etalage_smallthumb_active {
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
	border: 1px solid #535353
}

.etalage .etalage_zoom_area,.etalage_zoom_area {
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd
}

.etalage .etalage_magnifier {
	background: #fff;
	border: 1px solid #bbb
}

.etalage .etalage_icon {
	background: url(../img/pop_detail_icon.png) -181px 0 no-repeat;
	width: 18px;
	height: 18px;
	margin-left: 358px
}

.etalage .etalage_description {
	background: #fff;
	font-style: italic;
	margin: 10px;
	padding: 6px 10px
}

.etalage,.etalage img,.etalage li,.etalage ul,.etalage_description,.etalage_hint,.etalage_icon {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none
}

.etalage img,.etalage li {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none
}

.etalage,.etalage_small_thumbs li {
	float: left
}

.etalage_right {
	float: right
}

.etalage li {
	position: absolute
}

.etalage img {
	width: 50px;
	height: 70px
}

.etalage_magnifier {
	cursor: default
}

.etalage_magnifier div,.etalage_small_thumbs {
	overflow: hidden
}

.etalage_hint,.etalage_icon {
	cursor: default;
	width: 0;
	height: 0;
	overflow: hidden
}

.etalage_small_thumbs .vertical {
	float: none
}

.etalage_zoom_area {
	z-index: 17
}

.etalage_zoom_area div {
	overflow: hidden;
	z-index: 18
}

.etalage_zoom_preview {
	position: absolute;
	z-index: 19
}

.etalage_hint,.etalage_zoom_img {
	z-index: 20
}

.etalage_description {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20
}

.rtl {
	direction: rtl;
	text-align: right
}

.pop_detail_top {
	float: left;
	padding: 0 0 0 35px;
	position: relative;
	width: 350px
}

.pop_price_wrap {
	position: relative;
	margin: 20px auto 0 0
}

.pop_price {
	color: #666;
	position: relative;
	overflow: hidden
}

.pop_price span {
	float: left
}

.price_now {
	color: #232323;
	font-size: 38px;
	line-height: 1;
	font-family: arial
}

.sell_end {
	color: #5b5b5b;
	font-size: 30px;
	font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	font-weight: 700
}

.pop_price hr {
	border: none;
	margin: 0;
	border-left: 1px solid #f4edd9;
	border-right: 1px solid #FFF;
	width: 0;
	height: 50px;
	float: left
}

.pop_price .yen {
	font-size: 24px;
	font-family: arial;
	vertical-align: top;
	line-height: 1.4
}

.pop_price_bg {
	background-position: -179px 0;
	width: 10px;
	height: 102px;
	position: absolute;
	right: 0;
	top: 0
}

.pop_detail_tit {
	position: relative;
	font-size: 18px;
	font-family: '\5FAE\8F6F\96C5\9ED1 ';
	line-height: 1.5;
	color: #000;
	padding-top: 38px;
	font-weight: 700
}

.pop_detail_timer,.pop_end,.pop_end_time,.special_tit {
	font-size: 14px
}

.pop_discount {
	padding: 12px 10px
}

.pop_single_line {
	line-height: 40px
}

.discount_num {
	background: #ed145b;
	color: #FFF;
	padding: 0 7px;
	margin: 0 6px 0 5px;
	line-height: 1.4;
	overflow: hidden
}

.pop_price .pop_timer_wrap {
	padding: 12px 0;
	float: left;
	clear: both
}

.pop_detail_timer span {
	float: none;
	color: #000;
	padding: 0 2px;
	font-family: arial
}

.pop_detail_timer i {
	float: left;
	width: 19px;
	height: 19px;
	background-position: 0 -1px;
	margin-right: 5px
}

.pop_sold {
	color: #2e2d2d;
	font-family: '\5FAE\8F6F\96C5\9ED1'
}

.pop_sold i {
	width: 17px;
	height: 17px;
	float: left;
	background-position: -148px -20px;
	margin: -3px 5px
}

.pop_sold b {
	color: #f64e85;
	font-weight: 400;
	font-family: arial
}

.pop_end {
	white-space: nowrap;
	font-family: 'Hiragino Sans GB','Microsoft Yahei'
}

.pop_end_time {
	color: #2e2d2d
}

.pop_tit {
	padding-right: 20px;
	float: left
}

.pop_tit_sp {
	padding: 14px 16px 14px 0
}

.dot_line {
	font-size: 0;
	width: 100%;
	height: 0;
	border-bottom: 1px dotted #c9c9c9;
	margin: 14px 0
}

.dot_line_top {
	margin-bottom: 7px
}

.dot_line_bottom {
	margin-top: 7px
}

.dot_line_top0 {
	margin-top: 0
}

.dot_line_bottom0 {
	margin-bottom: 0
}

.pop_float {
	float: left;
	background-color: #fafafa;
	padding: 14px 0 14px 7px;
	width: 350px
}

.pop_float b {
	font-family: arial;
	font-weight: 400
}

.pop_black em {
	font-family: arial
}

.pop_black .free {
	float: left;
	margin-top: 4px;
	background-color: #1e1e1e;
	font-family: '\5b8b\4f53';
	color: #fff;
	height: 17px;
	display: inline-block;
	line-height: 17px;
	padding: 0 5px
}

.pop_black {
	float: left;
	position: relative
}

.pop_black_f {
	color: #525252
}

.pop_rebates li,.pop_rebates ul {
	float: left
}

.pop_rebates li {
	float: left;
	width: 238px;
	overflow: hidden;
	white-space: nowrap;
	height: 24px
}

.pop_rebates span {
	color: #fff;
	background: #1e1e1e;
	float: left;
	margin-right: 10px;
	padding: 1px 2px;
	vertical-align: middle
}

.pop_rebates li a,.pop_rebates li a:hover {
	color: #525252
}

.pop_line {
	border-bottom: 1px solid #eaeaea
}

.pop_change {
	line-height: 24px;
	width: 380px
}

.model_wrap {
	position: relative;
	*zoom: 1
}

.change_wrap {
	line-height: 43px
}

.alert_on {
	border-color: #ed145b;
	background: #fffcf5
}

.model_alert {
	display: none;
	position: absolute;
	line-height: 15px;
	height: 15px;
	color: #ed145b;
	padding-left: 20px;
	background-position: -335px 0;
	background-repeat: no-repeat;
	bottom: -20px;
	right: 0
}

.alert_on .model_alert {
	display: block
}

.change_wrap dt {
	float: left;
	text-align: left;
	color: #666;
	padding-right: 20px
}

.change_wrap dd {
	float: left
}

.J_size_wrap {
	overflow: hidden
}

.change_wrap .J_size_wrap li {
	float: left;
	line-height: 23px;
	margin: 0 8px 9px 0;
	position: relative;
	vertical-align: middle;
	top: 9px
}

.J_size_wrap li a {
	border: 1px solid #e5e4e7;
	color: #333;
	float: left;
	padding: 0 10px;
	text-align: center;
	white-space: nowrap;
	width: auto
}

.buy_btn_wrap,.phone_subscribe_wrap {
	padding: 20px 0
}

.J_size_wrap li a:hover,.J_size_wrap li.size_selected a {
	border: 1px solid #ed145b
}

.J_size_wrap li i {
	display: none
}

.J_size_wrap .size_selected i {
	margin: 0 1px 1px 0;
	bottom: 0;
	display: block;
	height: 15px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -99em;
	width: 14px;
	background-position: -137px 1px
}

.J_size_wrap .pop_disable a,.J_size_wrap .pop_disable a:hover {
	background: #E8E8E8;
	cursor: default;
	border-color: #bebebe;
	color: #bbb
}

.pop_amount_wrap {
	background-position: 0 -20px;
	width: 55px;
	height: 26px;
	float: left;
	position: relative;
	top: 10px
}

.pop_amount_wrap a {
	width: 15px;
	height: 12px;
	overflow: hidden;
	text-indent: -999em;
	position: absolute;
	left: auto;
	right: 0
}

.pop_amount_wrap .decrease_num {
	top: 12px
}

.amout_input {
	background: 0 0;
	border: none;
	float: left;
	width: 40px;
	height: 24px;
	line-height: 26px;
	text-align: center
}

.phone_subscribe,.pop_buy_btn,.pop_wish_btn,.subscription_btn {
	height: 46px;
	border: 1px solid #e01558;
	background-color: #ed145b;
	color: #fff;
	display: block;
	text-align: center;
	font: 16px '\5FAE\8F6F\96C5\9ED1';
	line-height: 46px
}

.addcart_btn,.phone_subscribe,.pop_wish_btn {
	width: 195px
}

.addcart_btn:hover {
	border-color: #e11759;
	background: #f92369;
	background: -webkit-linear-gradient(top,#f92369,#eb155b);
	background: -moz-linear-gradient(top,#f92369,#eb155b);
	background: -ms-linear-gradient(top,#f92369,#eb155b)
}

.addcart_btn i,.phone_subscribe i,.pop_wish_btn i {
	width: 23px;
	height: 23px;
	top: 7px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	_margin: 14px 5px 14px 0;
	_vertical-align: middle;
	*top: 2px
}

.addcart_btn i {
	background: url(../img/ie6_cart.png) no-repeat;
	_margin: 7px 5px 7px auto
}

.phone_subscribe {
	border: 1px solid #545454;
	background: #4d4d4d;
	background: -webkit-linear-gradient(top,#4d4d4d,#4a4a4a);
	background: -moz-linear-gradient(top,#4d4d4d,#4a4a4a);
	background: -o-linear-gradient(top,#4d4d4d,#4a4a4a);
	background: -ms-linear-gradient(top,#4d4d4d,#4a4a4a)
}

.phone_subscribe i {
	background: url(../img/ie6_alert.png) no-repeat;
	width: 14px;
	height: 22px
}

.three_info_note {
	margin: 12px 0 0;
	font-size: 12px;
	color: #666
}

.pop_wish_btn {
	border: 1px solid #ed9b18;
	background: #f6a21f;
	background: -webkit-linear-gradient(top,#f6a21f,#f5a425);
	background: -moz-linear-gradient(top,#f6a21f,#f5a425);
	background: -o-linear-gradient(top,#f6a21f,#f5a425);
	background: -ms-linear-gradient(top,#f6a21f,#f5a425)
}

/* .pop_wish_btn i {
	width: 18px;
	height: 18px;
	background: url(http://a1.jmstatic.com/694b48e2b9da39bc/ie6_heart.png) no-repeat
}
 */
.subscription_btn,.subscription_btn:hover {
	background-position: -105px -102px;
	width: 115px;
	height: 31px;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0
}

.subscription_txt {
	width: 240px;
	height: 29px;
	line-height: 29px;
	border: 1px solid #e0dddd;
	color: #a0a0a0;
	float: left;
	margin: 0 15px 0 0;
	padding: 0 10px
}

.turn_gray {
	cursor: not-allowed
}

.commitment {
	display: inline-block;
	position: relative;
	top: 3px;
	left: -6px;
	_display: inline
}

.commitment li {
	float: left;
	padding-right: 10px;
	white-space: nowrap;
	line-height: 18px;
	border-right: 1px solid #e5e5e5;
	margin-right: 10px
}

.commitment li:last-child {
	border-right: 0
}

.commitment li a {
	color: #666;
	float: left
}

.commitment i {
	float: left;
	background-position: -91px 0;
	width: 22px;
	height: 18px;
	margin-right: 5px
}

.commitment .ico1 {
	background-position: -64px 0
}

.commitment .ico2 {
	background-position: -113px 0
}

.commitment .ico3 {
	background-position: -40px 0
}

.commitment .ico4 {
	background-position: -63px 1px
}

.commitment .ico5 {
	background-position: -86px 0;
	width: 32px
}

.commitment .ico6 {
	background-position: -120px 1px;
	width: 16px
}

.commitment .ico7 {
	background-position: -126px -17px
}

.commitment .ico8 {
	background-position: -102px -20px
}

.deal_share {
	padding-top: 5px
}

.cat_tit span,.deal_reco h2,.model_alert {
	background-image: url(../img/pop_deal_1.png)
}

.deal_tit h1 i {
	background-image: url(../img/tit_icon_1.png);
	_vertical-align: middle;
	_margin: 16px auto 20px
}

.deal_detail {
	clear: both;
	padding-top: 20px
}

.common_wrap {
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 12px
}

.left_sidebar {
	width: 240px;
	float: left;
	overflow: hidden
}

.special_tit {
	color: #fff;
	background: #3e3e3e;
	padding-left: 15px;
	height: 36px;
	line-height: 36px;
	margin-bottom: 1px;
	font-weight: 300
}

.special_tit span {
	font-size: 10px;
	padding-left: 12px
}

.deal_nav ul,.details_wrap,.film_wrap,.intro_wrap {
	font-size: 14px
}

.info_wrap {
	text-align: center;
	height: 149px
}

.info_wrap img {
	padding-top: 25px
}

.special_name {
	color: #555;
	line-height: 40px
}

.special_button {
	display: inline-block;
	width: 78px;
	height: 28px;
	line-height: 28px;
	border: 1px solid
}

.sp_sub {
	border-color: #c8c7c7;
	color: #5f5e5e;
	background-image: -moz-linear-gradient(top,#fbfafa,#d7d7d8);
	background-image: -webkit-linear-gradient(top,#fbfafa,#d7d7d8);
	background-image: linear-gradient(top,#fbfafa,#d7d7d8);
	background-color: #fbfafa
}

.sp_enter {
	border-color: #383838;
	color: #fff;
	background-image: -moz-linear-gradient(top,#5f5f5f,#0d0d0d);
	background-image: -webkit-linear-gradient(top,#5f5f5f,#0d0d0d);
	background-image: linear-gradient(top,#5f5f5f,#0d0d0d);
	background-color: #5f5f5f;
	margin-right: 10px
}

.cat_tit,.tab_content li {
	border-bottom: 1px dotted #ccc
}

.special_show {
	padding: 10px;
	width: 220px
}

.cat_wrap {
	padding: 10px
}

.cat_tit {
	font-weight: 700;
	color: #444;
	padding-bottom: 10px;
	position: relative
}

.cat_tit span {
	position: absolute;
	width: 10px;
	height: 6px;
	background-position: 0 -410px;
	right: 2px;
	top: 5px;
	_right: 12px;
	_overflow: hidden
}

.rank_name,.tab_content li {
	width: 190px;
	overflow: hidden
}

.cat_wrap a {
	display: block;
	height: 22px;
	line-height: 22px;
	color: #444;
	padding-left: 5px
}

.cat_wrap .curr_cat {
	background: #ccc;
	color: #fff
}

.cat_wrap ul {
	padding: 10px 5px 20px
}

.cat_rank .no_data,.special_rank .no_data {
	height: 250px;
	line-height: 250px;
	text-align: center;
	background: url(../img/loading.gif) 50% 50% no-repeat
}

.special_rank .no_data {
	background: 0 0
}

.rank_wrap {
	background: #fff
}

.rank_price {
	line-height: 30px
}

.rank_name {
	line-height: 18px;
	height: 36px
}

.tab_content {
	padding-left: 25px
}

.tab_content ul {
	display: none
}

.tab_content .active_content {
	display: block
}

.tab_content a {
	color: #686868
}

.tab_content li {
	position: relative;
	height: 274px;
	padding-top: 20px
}

.tab_content .rank_tit {
	position: absolute;
	width: 17px;
	height: 17px;
	background: #cecdcd;
	color: #fff;
	text-align: center;
	top: 25px;
	left: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.special_tab li {
	float: left;
	width: 120px;
	height: 35px;
	line-height: 35px;
	font-weight: 700;
	color: #666;
	text-align: center;
	background: #dfdede;
	cursor: pointer
}

.special_tab .active_tab {
	background: #fff;
	cursor: default
}

.main_detail {
	width: 700px;
	float: right;
	overflow: hidden;
	background: #fff
}

.deal_com {
	padding-bottom: 35px;
	width: 800px;
	overflow: hidden;
	margin: auto
}

.deal_details .deal_com img,.deal_film .deal_com img,.deal_usage .deal_com img {
	display: block;
	margin: 0 auto
}

.deal_nav .curr_nav em,.sell_status {
	display: none
}

.deal_nav_con {
	height: 38px;
	width: 958px;
	z-index: 9;
	border: 1px solid #ececec;
	border-bottom-width: 2px;
	background: #fff
}

.deal_nav {
	width: 700px
}

.nav_shadow {
	width: 100%;
	left: 0;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease
}

.deal_nav ul {
	text-align: center;
	float: left;
	line-height: 38px
}

.deal_nav li {
	float: left;
	width: 90px;
	position: relative;
	border-left: 1px solid #fff;
	height: 38px
}

.deal_nav li a {
	color: #333
}

.deal_nav .curr_nav a,.deal_nav li a:hover {
	color: #ed145b
}

.deal_nav ul em {
	width: 1px;
	height: 30px;
	background-position: -199px -20px;
	position: absolute;
	left: auto;
	right: 0;
	top: 10px
}

.deal_nav .curr_nav {
	background: #fff;
	border: 1px solid #ececec;
	border-top: 0;
	border-bottom: 2px solid #ed145b;
	z-index: 10;
	margin-left: -1px
}

.sell_status {
	width: 195px;
	height: 40px;
	top: -1px;
	float: right;
	font: 16px/40px '\5FAE\8F6F\96C5\9ED1';
	text-align: center;
	position: relative
}

.deal_hot .brand_name,.deal_hot .hot_name {
	font-family: 'Microsoft YaHei';
	overflow: hidden
}

.sell_status a {
	color: #fff
}

.sell_status i {
	top: 6px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	_margin: 7px 5px 7px auto;
	_vertical-align: middle;
	_top: 2px
}

.sold_out {
	background: #4c4b4b
}

.sold_out a {
	cursor: text
}

.on_sell {
	background: #ed145b
}

.nav_shadow .sell_status {
	display: block
}

.add_wish {
	background: #f6a321
}

.sold_out i {
	width: 14px;
	height: 22px
}

.on_sell i {
	width: 23px;
	height: 23px;
	background: url(../img/ie6_cart.png) no-repeat
}

/* .add_wish i {
	background: url(http://a1.jmstatic.com/694b48e2b9da39bc/ie6_heart.png) no-repeat;
	width: 18px;
	height: 18px
}
 */
.deal_service_img {
	text-align: center;
	padding: 15px 0
}

.deal_specs {
	padding: 0 14px 40px
}

.deal_specs table {
	float: left
}

.deal_specs td,.deal_specs th {
	padding: 7px;
	font-size: 14px
}

.deal_specs th {
	color: #343434;
	padding-left: 21px;
	vertical-align: top
}

.deal_specs td {
	color: #66666a;
	width: 220px
}

.deal_specs img {
	width: 277px;
	padding-right: 14px;
	float: right;
	padding-top: 10px
}

.deal_others {
	padding: 0 14px
}

.deal_others textarea {
	display: none
}

.deal_size {
	padding: 0 14px 40px
}

.deal_hot li {
	float: left;
	border: 1px solid #e7e7e7;
	padding-bottom: 10px;
	width: 200px;
	margin: 0 11px 22px;
	*display: inline
}

.deal_hot .hot_name,.hp_wrap {
	font-size: 12px;
	margin-left: 8px
}

.deal_hot .hot_name {
	display: block;
	height: 18px;
	line-height: 18px;
	padding-top: 6px;
	color: #333
}

.deal_hot .brand_name {
	font-size: 12px;
	font-weight: 400;
	padding-top: 10px;
	height: 16px;
	color: #999;
	text-indent: 8px
}

.hp_wrap {
	color: #666;
	font-family: "宋体";
	padding-top: 8px
}

.hot_price {
	font-size: 18px;
	color: #e1ab44
}

.origin_price {
	color: #a4a4a4;
	text-decoration: line-through;
	padding-left: 5px
}

.deal_tit {
	height: 60px;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
	margin-bottom: 20px
}

.deal_tit h1 {
	height: 60px;
	line-height: 60px;
	font-weight: 300;
	padding-left: 5px;
	font-size: 22px;
	font-family: 'Hiragino Sans GB','Microsoft Yahei';
	color: #000
}

.deal_reco .brand_name,.deal_reco .reco_name {
	font-size: 12px;
	font-family: 'Microsoft YaHei';
	overflow: hidden
}

.deal_tit i {
	width: 269px;
	height: 21px;
	display: inline-block;
	margin-left: 20px;
	background-repeat: no-repeat;
	position: relative;
	top: 2px;
	*top: 0;
	overflow: hidden;
	_left: 12px
}

.deal_size .deal_tit i {
	background-position: 0 -2px;
	width: 100px
}

.deal_intro .deal_tit i {
	background-position: 0 -24px;
	width: 269px
}

.deal_specs .deal_tit i {
	background-position: 0 -46px;
	width: 240px
}

.deal_hot .deal_tit i {
	background-position: 0 -68px;
	width: 235px
}

.deal_details .deal_tit i {
	background-position: 0 -90px;
	width: 235px
}

.deal_film .deal_tit i {
	background-position: 0 -136px;
	width: 235px
}

.deal_reco .deal_tit i {
	background-position: 0 -156px;
	width: 235px
}

.deal_guideline .deal_tit i {
	background-position: 0 -178px;
	width: 235px
}

.deal_usage .deal_tit i {
	background-position: 0 -110px;
	width: 185px
}

.deal_details {
	padding: 0 14px
}

.deal_others .deal_details {
	padding: 0
}

.deal_film,.deal_intro {
	padding: 0 14px
}

.deal_others .deal_intro {
	padding: 0
}

.deal_reco h2 {
	background-position: 0 -385px;
	width: 153px;
	height: 25px;
	line-height: 25px;
	padding-left: 22px;
	color: #8b8a8a
}

.deal_reco ul {
	padding: 19px 0 20px 24px;
	border-top: 1px solid #e7e7e7
}

.deal_reco .no_data {
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: url(../img/loading.gif) 50% 50% no-repeat
}

.deal_reco li {
	width: 136px;
	float: left;
	padding: 0 12px
}

.deal_reco li img {
	width: 136px;
	height: 136px
}

.deal_hot a:hover,.deal_reco a:hover {
	text-decoration: none
}

.recent_buy {
	color: #999;
	padding-top: 2px
}

.reco_price {
	color: #e1ab44
}

.deal_reco .reco_name {
	display: block;
	margin-left: 8px;
	height: 18px;
	line-height: 18px;
	padding-top: 6px;
	color: #333
}

.deal_reco .brand_name {
	font-weight: 400;
	padding-top: 10px;
	height: 16px;
	color: #999;
	text-indent: 8px
}

.deal_sales_listp {
	width: 940px;
	padding: 34px 0 46px;
	overflow: hidden
}

.deal_sales_listp a {
	background-image: url(../img/pop_lc.jpg);
	float: left;
	margin-left: 88px;
	display: inline;
	width: 124px;
	height: 97px
}

.deal_sales_listp .postage {
	background-position: 0 0
}

.deal_sales_listp .return {
	background-position: 0 -97px
}

.deal_sales_listp .genuine {
	background-position: 0 -194px
}

.deal_sales_listp .red_bag {
	background-position: 0 -291px
}

.deal_guideline {
	font: 400 14px/24px '\5FAE\8F6F\96C5\9ED1' 'Hiragino Sans GB' arial;
	color: #666;
	padding-bottom: 20px;
	padding-top: 30px
}

.deal_guideline h2 {
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 17px;
	color: #000
}

.deal_guideline h3 {
	font-size: 16px;
	padding: 20px 0 6px;
	color: #333;
	font-weight: 400
}

.deal_guideline p {
	font-size: 14px;
	padding-bottom: 3px;
	color: #666
}

.deal_guideline p a {
	color: #f11b5e;
	text-decoration: underline
}

.JQ-slide-nav a,.deal_dsr_frame a,.sizeHelper a:hover,.unContainer a:hover {
	text-decoration: none
}

.deal_guideline .adv_large {
	font-size: 16px;
	padding-bottom: 5px
}

.deal_service_consult {
	padding: 30px 0 5px
}

.deal_service_consult h2 {
	padding-top: 6px;
	width: 94px;
	float: left
}

.deal_service_consult a {
	background: url(http://a4.jmstatic.com/8b5cb6b9174f085b/pop_ser.jpg) no-repeat;
	width: 90px;
	height: 30px;
	float: left;
	position: relative;
	top: 2px
}

.deal_guideline p.freight_q {
	font-size: 16px;
	color: #333;
	line-height: 28px;
	margin-top: 5px
}

.deal_guideline p.freight_a {
	margin-bottom: 15px
}

.freight_a i,.freight_q i {
	padding: 0 2px;
	color: #fff;
	font-family: normal 14px arial;
	font-style: normal;
	margin-right: 15px
}

.freight_q i {
	background-color: #333
}

.freight_a i {
	background-color: #e7245f;
	padding: 0 3px
}

.deal_service_listp {
	display: inline-block;
	width: 932px;
	margin-bottom: 20px
}

.deal_service_listp li {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	word-wrap: break-word;
	word-break: break-all;
	margin-right: 15px;
	display: inline;
	float: left;
	background-color: #2f2f2f;
	position: relative
}

.deal_service_listp i {
	position: absolute;
	top: 32%;
	right: 10px;
	font-style: normal
}

.deal_service_listp .deal_wid1 {
	width: 72px;
	padding: 21px 12px 0;
	height: 44px
}

.deal_service_listp .deal_wid2 {
	width: 202px;
	padding: 7px 12px 0;
	height: 56px
}

.deal_service_listp .deal_wid3 {
	width: 142px;
	padding: 21px 12px 0;
	height: 44px
}

.deal_service_listp .deal_wid4 {
	width: 138px;
	padding: 7px 12px 0;
	height: 56px
}

.deal_service_listp .deal_wid5 {
	width: 78px;
	padding: 21px 12px 0;
	height: 44px;
	margin-right: 0;
	text-align: center
}

.sd_reco {
	padding-top: 20px
}

.sd_reco h2 {
	width: 170px
}

.sd_reco ul {
	padding-left: 15px
}

.recent_view {
	padding: 20px 0;
	visibility: hidden
}

.recent_wrap {
	background: #fff;
	padding: 15px
}

.recent_tit {
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
	color: #666;
	background: #eee;
	position: relative
}

.recent_left {
	border: 1px solid #eee;
	width: 240px;
	float: left
}

.recent_left ul {
	padding: 0 10px;
	height: 290px;
	overflow: auto
}

.recent_left .no_data {
	height: 170px;
	padding-top: 120px;
	line-height: 20px;
	text-align: center;
	background: url(../img/loading.gif) 50% 50% no-repeat
}

.recent_left li {
	padding: 15px 0;
	border-bottom: 1px dotted #ccc;
	height: 66px;
	overflow: hidden
}

.nbb {
	border-bottom: 0
}

.recent_left li img {
	border: 1px solid #efefef;
	float: left;
	margin-top: 2px
}

.view_info {
	float: left;
	width: 115px;
	padding-left: 17px
}

.view_info .reco_price {
	color: #ed145a;
	padding: 1px 0
}

.recent_right .view_info .reco_price {
	font-weight: 700
}

.view_name {
	line-height: 16px;
	padding-bottom: 2px;
	height: 32px;
	overflow: hidden;
	_height: 32px
}

.view_name a {
	color: #333
}

.recent_right {
	float: right;
	width: 668px;
	border: 1px solid #eee
}

.rr_wrap {
	height: 290px
}

.recent_tit p {
	position: absolute;
	right: 10px;
	top: 0;
	font-weight: 300;
	display: none
}

.slide-box,.slide-content {
	position: relative
}

.slide-box {
	width: 668px;
	padding: 30px 0 0
}

.slide-content .wrap {
	overflow: hidden;
	width: 605px;
	height: 240px;
	position: relative;
	margin-left: 30px
}

.slide-box .JQ-slide-content {
	position: absolute;
	padding: 0;
	width: 10000px
}

.JQ-slide-content li {
	float: left;
	width: 156px
}

.JQ-slide-content img {
	width: 136px;
	height: 136px
}

.JQ-slide-nav {
	display: none
}

.JQ-slide-nav a {
	display: block;
	z-index: 6;
	width: 17px;
	position: absolute;
	top: 94px;
	height: 42px
}

.deal_hot,.one_column .left_sidebar {
	display: none
}

/* .JQ-slide-nav .prev {
	background: url(http://a2.jmstatic.com/5e41b8cc26de8740/arrow_l.png) no-repeat
} */

/* .JQ-slide-nav .next {
	background: url(http://a0.jmstatic.com/f96d3889ab82b785/arrow_r.png) no-repeat;
	right: 0
} */

.JQ-slide-nav a:hover,.JQ-slide-nav a:hover span {
	color: #f43d1e
}

.slide-box .view_info {
	float: none;
	padding: 15px 0 0
}

.pop_slide .no_data {
	line-height: 240px;
	height: 240px;
	text-align: center;
	background: url(../img/loading.gif) 50% 50% no-repeat
}

.one_column .main_detail {
	float: none;
	width: 960px
}

.one_column .deal_nav {
	width: 958px;
	background-color: #fff;
	position: relative;
	margin: 0 auto
}

.one_column .deal_specs img {
	width: 330px;
	padding-right: 75px
}

.one_column .deal_specs td {
	width: 250px
}

.one_column .deal_specs th {
	padding-left: 102px
}

.one_column .deal_hot li {
	margin: 0 15px 30px
}

.one_column .deal_reco ul {
	padding-left: 40px
}

.one_column .deal_reco li {
	width: 190px;
	float: left;
	padding: 0 12px
}

.one_column .deal_reco li img {
	width: 190px;
	height: 190px
}

.one_column .deal_reco .reco_price {
	font-size: 14px;
	font-family: "宋体";
	padding-top: 8px;
	margin-left: 8px
}

.seller_icon {
	width: 18px;
	height: 18px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	position: relative;
	top: 5px;
	cursor: pointer;
	background-position: -22px -1px
}

.seller_con {
	position: absolute;
	width: 254px;
	color: #666;
	left: -119px;
	top: 23px;
	background: #f5f5f5;
	padding: 24px 5px 6px 8px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #eee;
	display: none
}

li.chima,li.chima i {
	display: inline-block
}

.seller_con p {
	line-height: 20px
}

.seller_link {
	color: #666;
	float: right
}

/* .seller_tip {
	width: 8px;
	height: 7px;
	position: absolute;
	top: -6px;
	left: 126px;
	background: url(http://a3.jmstatic.com/fd3fe76af49463e6/seller_tip.jpg) no-repeat
} */

/* .seller_close {
	width: 16px;
	height: 16px;
	background: url(http://a1.jmstatic.com/aa4a82ce1e423d4c/seller_close.jpg) no-repeat;
	position: absolute;
	top: 3px;
	right: 3px
}
 */
.sizeHelper i {
	font-style: normal;
	color: #f76199
}

li.chima {
	cursor: pointer;
	width: 70px;
	height: 20px
}

.helperTitle i,li.chima i {
	width: 17px;
	overflow: hidden
}

/* li.chima i {
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) no-repeat;
	height: 17px
}
 */
.colorbox {
	z-index: 20;
	background: #FFF
}

.btn_red {
	display: block;
	background-color: #f8296d;
	font: 700 14px '宋体';
	color: #fff;
	margin: auto
}

.helperTitle {
	border-bottom: 1px solid #ddd;
	height: 37px;
	line-height: 37px;
	padding: 0 9px 0 15px;
	background: #fff;
	font-family: '宋体';
	font-size: 14px
}

/* .helperTitle i {
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) 0 -18px no-repeat;
	height: 17px;
	display: inline-block
} */

.logining,.mySize,.unlogin {
	border-bottom: 1px solid #ddd;
	padding: 28px 0;
	margin: auto;
	text-align: center;
	position: relative
}

/* .unlogin .unContainer>i {
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) -17px 0 no-repeat;
	width: 126px;
	height: 95px;
	overflow: hidden;
	display: block
}
 */
.sizeContainer p,.unlogin p {
	font: 700 14px '宋体';
	margin-bottom: 18px
}

.unContainer {
	position: relative;
	width: 330px;
	height: 95px;
	margin: auto;
	text-align: left
}

.unContainer div {
	width: 230px;
	height: 95px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0
}

.unContainer a {
	width: 100px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	margin-top: 18px
}

.unContainer em,.unContainer em i {
	font: 400 12px '宋体'
}

.unContainer em {
	display: none;
	margin-top: 18px
}

.unContainer em i {
	color: #f76199;
	background: 0 0;
	display: inline
}

.logining {
	padding: 0;
	text-align: left;
	height: 188px
}

/* .logining>i {
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) 1px -80px no-repeat;
	height: 190px;
	width: 30px;
	overflow: hidden;
	font-style: normal;
	display: block;
	position: absolute;
	left: 153px;
	top: 0
} */

.logining a,.logining em,.logining p {
	display: block;
	height: 44px;
	line-height: 35px;
	margin-left: 182px
}

.logining p {
	font: 700 14px '宋体';
	line-height: 62px;
	height: 56px
}

.logining em {
	color: #333;
	position: relative
}

.logining a,.mySize a {
	color: #009ebb
}

.logining a {
	width: 120px;
	height: 24px;
	margin-bottom: 20px
}

.infoTitle,.infoTitle i em {
	height: 20px;
	position: relative
}

.chimaInfo {
	background: #f6f6f6;
	padding: 10px 30px 14px;
	clear: both
}

.active {
	padding-bottom: 15px
}

.infoTitle {
	line-height: 20px
}

.infoTitle i {
	font-style: normal;
	display: none;
	float: right;
	color: #999;
	cursor: pointer;
	vertical-align: top
}

/* .infoTitle i em {
	display: inline-block;
	width: 20px;
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) -303px 0 no-repeat;
	margin-left: 5px
}
 */
.infoTable {
	width: 100%;
	border-spacing: 0;
	margin: 10px auto 0
}

.infoTable td {
	padding: 0;
	font-size: 12px;
	text-align: center;
	border: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8
}

.infoTable thead td {
	background: #ede5e7;
	height: 30px;
	line-height: 30px;
	font-weight: 700
}

.infoTable tbody td {
	height: 28px;
	line-height: 28px
}

.infoTable th {
	width: 30px;
	background: #ede5e7;
	padding-left: 10px;
	border-top: 1px solid #e8e8e8
}

.sizeHelper .chimaInfo .infoTable {
	width: 625px
}

.sizeContainer .btn_red {
	width: 74px;
	height: 32px;
	line-height: 32px;
	color: #fff
}

.mySize {
	height: 100%;
	padding: 28px 30px;
	overflow: hidden
}

.sizeModo {
	width: 310px;
	float: left;
	height: 250px;
	text-align: center
}

/* .sizeModo i {
	display: block;
	width: 173px;
	height: 226px;
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) -149px -234px no-repeat;
	margin: auto
} */

.sizeModo .man {
	background-position: -322px -234px
}

.sizeContainer {
	margin-left: 325px;
	width: 286px;
	overflow: hidden
}

.sizeContainer ul {
	text-align: left;
	overflow: hidden
}

.sizeContainer li {
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0 15px 10px
}

.sizeContainer li input {
	width: 48px;
	height: 12px;
	border: 1px solid #c5c5c5;
	text-align: center;
	font-size: 11px;
	padding: 7px 0
}

.sizeContainer li:active,.sizeContainer li:hover {
	color: #f31f64
}

.padding20 {
	padding-left: 20px
}

.chima_info {
	margin: auto;
	clear: both;
	padding: 20px 0;
	width: 800px
}

.chima_info table.infoTable {
	float: none;
	display: table
}

/* .cboxClose,.cboxClose:hover {
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) -31px -224px no-repeat;
	opacity: .75;
	filter: opacity(75);
	right: 10px;
	top: 10px;
	width: 23px;
	height: 23px;
	position: absolute;
	padding: 0;
	border: none;
	font-size: 0;
	cursor: pointer
} */

.cboxClose:hover {
	opacity: 1;
	filter: opacity(100)
}

.sizeModo {
	position: relative
}

/* .sizeModo .sizeRule {
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) -137px 0 no-repeat;
	position: absolute;
	height: 35px;
	width: 130px;
	display: none
} */

.ini_select_div {
	border: 1px solid #c5c5c5;
	height: 26px;
	width: 182px;
	position: absolute;
	display: inline-block;
	top: 0;
	background: #fff;
	cursor: pointer
}

.ini_select_div a,.ini_select_div em,.ini_select_div p {
	margin: 0;
	font: 12px '宋体';
	height: 24px;
	line-height: 24px
}

.ini_select_div .ini_sel_input {
	width: 130px;
	line-height: 26px;
	height: 26px;
	overflow: hidden;
	margin-left: 13px;
	font-size: 12px;
	cursor: text
}

.ini_select_div .ini_sel_trig {
	width: 0;
	height: 0;
	border-top: 10px solid #ccc;
	border-left: 6px solid #fff;
	border-right: 6px solid #fff;
	border-bottom: 0;
	position: absolute;
	right: 9px;
	top: 8px;
	cursor: pointer;
	overflow: hidden
}

.ini_select_div .ini_sel_trig_hover {
	border-bottom: 10px solid #ccc;
	border-top: 0;
	_border-left: 6px solid #fff;
	_border-right: 6px solid #fff;
	overflow: hidden
}

.ini_option {
	width: 450px;
	border: 1px solid #c5c5c5;
	display: none;
	z-index: 5;
	position: absolute;
	left: -150px;
	background: #fff
}

.ini_option li {
	display: block;
	height: 46px;
	line-height: 46px;
	position: relative;
	border-bottom: 1px solid #e8e8e8
}

.ini_option li.curr,.ini_option li.hover {
	background: #fef2d5
}

.ini_option em {
	display: inline-block;
	height: 46px;
	width: 51px;
	margin-left: 0;
	float: left
}

.ini_option li.curr em,.ini_option li.hover em {
	background: #fff9e8
}

.ini_option li div {
	margin-left: 47px
}

.ini_option li:last-child {
	border-bottom-color: #c5c5c5
}

/* .ini_option li i {
	display: block;
	background: url(http://a2.jmstatic.com/5761f756686af05f/icon_size.png) -276px 0 no-repeat;
	width: 26px;
	height: 21px;
	margin: 10px
} */

.ini_option li .ini_blank {
	font: 12px '宋体';
	color: #333;
	line-height: 24px;
	margin-left: 12px
}

.ini_option li .ini_gray {
	color: #999;
	line-height: 24px;
	margin-left: 12px
}

.infoU5 {
	width: 100%;
	margin: auto auto 15px;
	overflow: hidden
}

.infoU5 li {
	padding: 8px 10px 6px;
	color: #666;
	margin: 0 20px;
	border-bottom: 1px dotted #999;
	float: left;
	width: 250px
}

.infoU1 li,.infoU2 li {
	float: left;
	width: 50px;
	height: 20px;
	margin-right: 10px
}

.infoU5 li span {
	color: #f8296d;
	margin-right: 10px
}

.infoU1 {
	margin-bottom: 8px;
	text-align: center;
	color: #fff;
	font: 700 16px Arial;
	overflow: hidden
}

.infoU2,.infoU3 {
	color: #666;
	overflow: hidden;
	text-align: center
}

.infoU1 li {
	line-height: 20px
}

.infoU1 .liCo1 {
	background-color: #f8c1d9
}

.infoU1 .liCo2 {
	background-color: #f38ebb
}

.infoU1 .liCo3 {
	background-color: #a5d1f6
}

.infoU1 .liCo4 {
	background-color: #73b0e3
}

.infoU2 {
	margin-bottom: 10px;
	font: 700 12px '宋体'
}

.infoU2 li {
	line-height: 20px
}

.infoU3 {
	margin: 15px auto 1px;
	width: 621px;
	height: 38px;
	line-height: 38px
}

.infoU3 li,.infoU4 li {
	margin-right: 1px;
	float: left
}

.infoU3 li {
	width: 34px;
	background: #e9e9e9;
	height: 38px;
	overflow: hidden
}

.infoU4,.infoU4 li {
	height: 20px;
	overflow: hidden
}

.infoU3 li.liLeader {
	background: #e99a34;
	color: #fff;
	width: 90px
}

.infoU4 {
	margin-bottom: 1px;
	line-height: 20px;
	width: 621px;
	text-align: center
}

.infoU4 li {
	width: 34px
}

.infoU4 li.liLeader {
	background: #e9e9e9;
	color: #666;
	width: 90px
}

.infoU4 li.liCo1 {
	background-color: #f8c1d9
}

.infoU4 .liCo2 {
	background-color: #f38ebb
}

.infoU4 .liCo3 {
	background-color: #a5d1f6
}

.infoU4 .liCo4 {
	background-color: #73b0e3
}

.sizeHelper {
	border: 5px solid #ddd;
	font: 12px '宋体';
	color: #333;
	*width: 750px;
	min-width: 680px;
	max-width: 720px
}

.chima_tit {
	height: 12px;
	color: #666;
	width: 800px;
	margin: auto
}

.hwg_baoshui {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2
}

.hwg_tip {
	border: 1px solid #eee;
	background-color: #fbfbfb;
	padding: 8px 10px;
	overflow: hidden;
	color: #666
}

.hwg_tip p {
	line-height: 18px;
	padding-left: 20px
}

.hwg_tip p b {
	font-family: Arial
}

/* .hwg_air {
	background: url(http://a5.jmstatic.com/6dde139c7f47dc28/hwg-air.png) 0 -44px no-repeat;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	float: left;
	position: relative;
	top: 2px
}
 */
.hwg_red {
	color: #ed145b;
	padding: 0 8px
}

.spectial_mobile_icon {
	display: block;
	position: absolute;
	color: #fff;
	background: #ed145b;
	left: 0;
	top: 0;
	padding: 5px 8px;
	z-index: 20
}

.pop_detail_tit em {
	color: #ed145b
}

.mobile_ewr {
	position: absolute;
	bottom: 5px;
	right: -250px
}

.db_price {
	float: right;
	margin-right: 10px;
	font-family: arial;
	font-size: 24px;
	display: none;
	height: 38px;
	line-height: 38px
}

.nav_shadow .db_price {
	display: block
}

.presale-timer p,.sell_rule {
	display: inline
}

.db_price em {
	vertical-align: top;
	font-size: 15px;
	margin-right: 2px;
	line-height: 2.1
}

.db_price del {
	color: #999;
	font-size: 14px;
	vertical-align: top;
	*vertical-align: middle
}

.tips {
	color: #666;
	width: 800px;
	margin: auto;
	text-align: left
}

.detail-tit-presale {
	position: relative;
	padding-left: 40px;
	width: 510px
}

.presale-icon {
	position: absolute;
	left: 0;
	top: 41px;
	color: #fff;
	font-size: 12px;
	background: #ed145b;
	width: 36px;
	height: 20px;
	line-height: 20px;
	text-align: center
}

.presale-con {
	margin-top: 20px;
	position: relative;
	z-index: 2
}

.pre-prices {
	font-family: PingHei,'微软雅黑',arial;
	color: #232323;
	overflow: hidden;
	_zoom: 1
}

.pre-prices .tit {
	margin-top: 5px;
	margin-right: 8px;
	font-size: 14px
}

.pre-prices .yen {
	font-family: arial;
	font-size: 14px;
	margin-top: 3px;
	margin-right: 2px
}

.pre-prices .price {
	font-size: 22px
}

.pre-prices .pre-order {
	color: #ed145b;
	margin-left: 14px
}

.pre-prices .pre-order .tit {
	color: #232323
}

.pre-prices-bottom {
	margin-top: 4px
}

/* .presalebg {
	background: url(http://a4.jmstatic.com/67509499344bc9ae/presale.jpg) no-repeat
}
 */
.pre-dis {
	background: #ed145b;
	color: #fff;
	padding: 2px 4px;
	margin-left: 10px
}

.pre-prices-bottom del {
	margin-left: 10px;
	margin-top: 2px
}

.presale-timer {
	font-size: 14px;
	line-height: 18px;
	top: 4px;
	right: 0;
	padding-left: 25px;
	margin-top: 10px;
	color: #696969;
	background: url(../img/timerbg.jpg) left center no-repeat
}

.sell_rule {
	cursor: pointer;
	position: relative;
	z-index: 20;
	float: left
}

.sell_rule .rmb_tax {
	border: 1px solid #febac5;
	color: #fc568d;
	padding: 0 16px 0 7px;
	z-index: 12;
	position: relative;
	background-color: #fff;
	display: inline-block;
	height: 18px;
	line-height: 18px
}

.sell_rule .over {
	border-bottom-color: #fff
}

/* .sell_rule .arrow {
	background: url(http://a2.jmstatic.com/2104bd38e01a8675/presell.png) 0 -97px no-repeat #fff;
	position: absolute;
	width: 10px;
	height: 10px;
	top: 6px;
	right: 3px;
	z-index: 13;
	font-size: 0;
	transition: transform .4s ease;
	-webkit-transition: transform .4s ease;
	-moz-transition: transform .4s ease;
	-o-transition: transform .4s ease
} */

.sell_rule:hover .arrow {
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg)
}

.sell_rule .mark_layer {
	top: 6px;
	_top: 7px;
	display: none;
	z-index: 10
}

.mark_hover,.mark_layer {
	position: absolute;
	z-index: 11;
	background: #fff;
	top: 12px;
	left: 0;
	width: 420px
}

.sell_rule .mark_hover {
	border: 1px solid #febac5;
	cursor: default
}

.mark_hover {
	border: 1px solid #bdb5cd;
	padding: 15px;
	line-height: 200%;
	box-shadow: 3px 3px 8px #efefef
}

.sell_rule .mark_hover .item .num {
	display: inline;
	float: left;
	width: 22px
}

.sell_rule .mark_hover .item {
	overflow: hidden;
	_zoom: 1;
	line-height: 20px
}

.mark_hover p a {
	text-decoration: underline;
	color: #666;
	margin-left: 5px
}

.sell_rule .mark_hover .item .content {
	float: left;
	width: 390px;
	display: inline;
	line-height: 19px
}

.presale-botton {
	margin: 20px 0;
	display: block;
	width: 197px;
	height: 48px
}

.pb-unsale {
	background-position: -197px 0
}

.pb-pay {
	background-position: 0 0
}

.pb-waitpay {
	background-position: -394px -48px
}

.pb-paylast {
	background-position: -197px -48px
}

.pb-saleout {
	background-position: 0 -48px
}

.presale-status {
	padding-top: 50px;
	overflow: hidden;
	width: 960px;
	_zoom: 1
}

.presale-status .ps-item {
	height: 70px;
	margin-left: 30px;
	width: 200px
}

.ps-item .ps-con {
	line-height: 16px;
	float: left;
	display: inline;
	width: 140px
}

.ps-item .ps-con .tit {
	font-size: 14px;
	color: #333;
	padding-bottom: 4px
}

/* .ps-item .arrow {
	float: right;
	display: inline;
	width: 10px;
	height: 17px;
	margin-top: 20px;
	background: url(http://a4.jmstatic.com/67509499344bc9ae/presale.jpg) -212px -115px no-repeat
} */

/* .presale-status .icon {
	float: left;
	display: inline;
	margin-top: 10px;
	margin-right: 10px;
	width: 40px;
	height: 30px;
	background: url(http://a4.jmstatic.com/67509499344bc9ae/presale.jpg) no-repeat
}
 */
.presale-status .presale-sta1,.presale-status .presale-sta3 {
	width: 220px
}

.presale-status .presale-sta1 .icon {
	background-position: 0 -108px
}

.presale-status .presale-sta2 .icon {
	background-position: -47px -108px
}

.presale-status .presale-sta3 .icon {
	background-position: -100px -108px
}

.presale-status .presale-sta4 .icon {
	background-position: -153px -108px
}

.presale-status .current .tit {
	color: #ed145b
}

.free_more_pop {
	float: left;
	display: inline-block
}

.pop_change .pop_black_free {
	margin-top: 14px
}

.pop_black .pop_black_freem {
	color: #fff;
	background: #000;
	padding: 1px 3px;
	margin-right: 5px
}

.mobile_subscribe {
	width: 380px;
	margin: 0 auto;
	position: relative;
	display: none
}

.onsale_layer {
	background: #FFF
}

.onsale_layer p {
	font-family: SimSun,'\5B8B\4F53'
}

.onsale_tit {
	color: #ed145b;
	font-weight: 700;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	background: #faf7f8;
	border-bottom: 1px solid #e6e5e5
}

.onsale_layer_wrap {
	padding: 20px 30px
}

.onsale_confirm_code,.onsale_mobile {
	height: 26px;
	line-height: 26px;
	outline: 0;
	padding: 0 5px;
	border: 1px solid #ccc;
	width: 135px
}

.onsale_mobile {
	margin-right: 3px
}

.onsale_layer_tips {
	font-size: 18px;
	font-weight: 700;
	padding: 0 0 15px;
	_padding: 0 0 10px
}

.hot_get_money {
	padding-bottom: 20px
}

.get_hot_msg {
	padding: 20px;
	text-align: center
}

.get_hot_msg h3 {
	border-bottom: 1px solid #e4e4e4;
	font-weight: 400;
	line-height: 50px;
	padding: 0 10px;
	font-size: 32px;
	text-align: center;
	color: #f0125b
}

.get_msg_tip {
	padding: 8px 20px;
	font-size: 16px;
	color: #44425a
}

.hot_get_money .btn_minor {
	width: 126px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
	display: block;
	color: #fff;
	font-size: 18px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fff4719c, endColorStr=#ffed145b);
	background: #ed145b;
	background: -webkit-gradient(linear,left top,left bottom,from(#f4719c),to(#ed145b));
	background: -webkit-linear-gradient(top,#f4719c,#ed145b);
	background: -moz-linear-gradient(top,#f4719c,#ed145b);
	background: -o-linear-gradient(top,#f4719c,#ed145b);
	background: linear-gradient(to bottom,#f4719c,#ed145b);
	text-shadow: 0 0 1px rgba(185,21,74,.23)
}

.onsale_layer .get__wish_confirm_code,.onsale_layer .submit_subscribe {
	overflow: visible;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fffa2e71, endColorStr=#ffed155b) , progid:DXImageTransform.Microsoft.DropShadow(color=#ffbbbbbb, offX=0, offY=1, positives=true);
	background: #ed155b;
	background: -webkit-gradient(linear,left top,left bottom,from(#fa2e71),to(#ed155b));
	background: -webkit-linear-gradient(top,#fa2e71,#ed155b);
	background: -moz-linear-gradient(top,#fa2e71,#ed155b);
	background: -o-linear-gradient(top,#fa2e71,#ed155b);
	background: linear-gradient(to bottom,#fa2e71,#ed155b);
	-webkit-box-shadow: 0 1px 2px 0 #bbb;
	box-shadow: 0 1px 2px 0 #bbb;
	text-shadow: 1px 1px 3px #b9154a;
	display: inline-block;
	font-family: inherit;
	word-break: keep-all;
	white-space: nowrap;
	font-weight: 400;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	cursor: pointer;
	padding: 0 16px;
	height: 26px;
	color: #fff;
	border: 0
}

.deal_dsr_score,.onsale_act,.success_tips i,.urser-buy-time,.user_info_wrap,.wish_act_close {
	overflow: hidden
}

.deal_dsr_mid,.deal_dsr_name,.onsale_layer_err strong {
	font-weight: 700
}

.onsale_layer .onsale_disabled {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#D5D5D5, endColorStr=#ccc) , progid:DXImageTransform.Microsoft.DropShadow(color=#f4769d, offX=0, offY=1, positives=true);
	background: #FAF7F8;
	background: -webkit-gradient(linear,left top,left bottom,from(#D5D5D5),to(#ccc));
	background: -webkit-linear-gradient(top,#D5D5D5,#ccc);
	background: -moz-linear-gradient(top,#D5D5D5,#ccc);
	background: -o-linear-gradient(top,#D5D5D5,#ccc);
	background: linear-gradient(to bottom,#D5D5D5,#ccc);
	text-shadow: 1px 1px 3px #ccc;
	color: #999
}

.onsale_input_wrap {
	position: relative;
	clear: both
}

.onsale_input_wrap label {
	color: #666;
	float: left;
	line-height: 30px;
	text-align: right;
	width: 50px;
	height: 50px
}

.onsale_act {
	margin: 5px 0;
	line-height: 16px
}

/* .onsale_err i,.success_tips i {
	background: url(http://a3.jmstatic.com/c74ad8c9702b6eba/login.jpg) no-repeat #FFF;
	width: 19px;
	height: 20px;
	overflow: hidden;
	float: left
}
 */
.onsale_err i {
	background-position: -10px -11px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 4px 0 0 175px;
	_margin: 4px 0 0 125px
}

.onsale_err .onsale_layer_err {
	color: #ed155b
}

/* .success_tips i {
	background: url(http://a1.jmstatic.com/04afd7c236c3f94d/subscribe_ok.jpg) no-repeat #FFF;
	width: 24px;
	height: 24px;
	float: left;
	margin: 0 7px 0 0
}
 */
.onsale_success {
	background: #FFF
}

.success_tips {
	padding: 0;
	font-size: 14px;
	height: 30px;
	line-height: 24px
}

.ok_wrap {
	border: 1px solid #fbd0de;
	background: #fffcfd;
	padding: 10px 15px;
	line-height: 2;
	margin-top: 10px
}

.onsale_cancel {
	padding: 5px 0
}

.onsale_cancel a {
	color: #0abede
}

.onsale_layer .get__wish_confirm_code {
	padding: 0 10px;
	vertical-align: top;
	outline: 0
}

/* .wish_act_close {
	width: 23px;
	height: 23px;
	white-space: nowrap;
	background: url(http://a3.jmstatic.com/944877ceb25079e8/cart_pop_close.png) no-repeat;
	margin: 0;
	display: block;
	cursor: pointer;
	position: absolute;
	padding: 0;
	right: -12px;
	text-indent: 99em;
	top: -12px
} */

.pop-sale-amount {
	color: #000;
	float: right;
	margin-right: 180px
}

.rate-toolbar {
	background: #f4f4f4;
	height: 37px;
	line-height: 37px;
	font-size: 14px
}

.deal_dsr_name,.deal_dsr_text {
	font-size: 12px;
	color: #666
}

.rate-toolbar .rate-filter {
	margin: 20px
}

.rate-toolbar .rate-filter label {
	margin-right: 35px
}

.userHeadImg {
	display: inline-block;
	padding: 20px;
	float: left
}

.user-items {
	float: left;
	margin: 20px 0
}

.user-name {
	color: #7e7e7e;
	padding-right: 13px;
	float: left
}

.user-name img {
	margin-left: 10px
}

.urser-buy-time {
	float: right;
	color: #7e7e7e;
	padding: 20px
}

.user-item-size {
	color: #ddd;
	margin-top: 20px
}

.user-attr {
	float: left;
	margin: -4px 0
}

.report {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px
}

.report .report_content {
	color: #666
}

.deal_dsr_frame {
	height: 289px;
	width: 175px;
	border: 1px solid #ccc;
	position: absolute;
	left: 415px;
	top: 0
}

.deal_dsr_brand {
	width: 194px;
	text-align: center
}

.deal_dsr_brand img {
	padding: 30px 38px 12px;
	width: 100px;
	height: 100px
}

.deal_dsr_name {
	border-bottom: 1px solid #e4e3e4;
	height: 40px
}

.deal_dsr_score {
	width: 180px;
	text-align: left;
	padding: 15px 8px
}

.deal_dsr_attr,.deal_dsr_attr_green {
	width: 18px;
	height: 18px;
	margin-right: 10px
}

.deal_dsr_num {
	font-size: 15px;
	color: #f22b62;
	padding: 14px
}

.deal_dsr_attr {
	background: #f22b62;
	font-size: 13px;
	color: #fff;
	padding: 1px
}

.deal_dsr_rate {
	font-size: 15px;
	color: #f22b62
}

.deal_dsr_mid {
	font-size: 13px;
	color: #f22b62
}

.deal_dsr_num_green {
	font-size: 15px;
	color: #5cd1c5;
	padding: 14px
}

.deal_dsr_attr_green {
	background: #5cd1c5;
	font-size: 13px;
	color: #fff;
	padding: 1px
}

.deal_dsr_rate_green {
	font-size: 15px;
	color: #5cd1c5
}

.module-button span,.module-content .module-text {
	font-family: "Heiti SC";
	font-size: 22px
}

.deal_dsr_btn {
	display: block;
	color: #ed416c;
	width: 163px;
	height: 28px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 28px;
	margin: 0 15px 20px
}

.tabPageCode {
	float: right;
	margin-top: 10px
}

.currentNum,.page-num,.tabPageCode .nextPage,.tabPageCode .prevPage {
	padding: 0 10px;
	margin: 0 2px;
	height: 25px;
	line-height: 25px;
	display: inline-block
}

.tabPageCode .prevPage {
	color: #000;
	border: 1px solid #bfbfbf;
	border-radius: 4px
}

.tabPageCode ul {
	display: inline-block
}

.currentNum {
	color: #fff;
	background-color: #e02960;
	border: 1px solid #e02960;
	border-radius: 4px
}

.paging-btns {
	float: right
}

.page-num {
	color: #428bca;
	border: 1px solid #ddd;
	border-radius: 4px;
	vertical-align: middle;
	cursor: pointer
}

.tabPageCode .nextPage {
	color: #000;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle
}

.paging {
	margin-top: 10px
}

.paging li {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #333;
	border: 1px solid #bbb;
	margin: 2px;
	cursor: pointer
}

.paging .selected {
	color: #fff;
	background: #e42f6b;
	border: 1px solid #e42f6b
}

.paging .next,.paging .pre {
	width: 50px
}

.eval_loading {
	position: relative;
	left: 50%;
	width: 50px;
	height: 50px;
	background: url(../img/loading.gif) 10px 10px no-repeat #fff
}

/* .module-dialog {
	width: 521px;
	height: 321px;
	background: rgba(255,255,255,0);
	background: url(http://images.jumei.com/pc_global/301-bg.png) no-repeat;
	background-size: 520px 321px;
	z-index: 16;
	position: fixed;
	top: 30%;
	left: 35%
} */

.module-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 15;
	background: rgba(0,0,0,.6)
}

.module-content {
	padding-top: 140px;
	width: 94%;
	text-align: center
}

.module-content .module-text {
	color: #333;
	width: 336px;
	text-align: center;
	margin: 0 auto;
	line-height: 25px;
	min-height: 100px
}

.module-content .module-button {
	width: 100%;
	text-align: center;
	cursor: pointer
}

.module-button span {
	display: inline-block;
	width: 250px;
	height: 58px;
	background: #FE4A5D;
	line-height: 59px;
	color: #fff;
	margin: 0 20px
}

.module-dialog .close {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	cursor: pointer
}

.module-text input {
	width: 200px;
	height: 58px;
	font-size: 20px;
	line-height: 58px;
	padding-left: 7px
}

.module-text img,.module-text input {
	margin: 35px 10px 0
}

.module-text img {
	min-height: 42px;
	min-width: 85px;
	position: relative;
	top: -10px
}

.module-text .change {
	font-size: 16px;
	color: #888;
	position: fixed;
	text-align: right;
	width: 308px
}

.module-tip {
	position: absolute;
	left: 58px;
	font-size: 14px;
	color: red;
	top: 175px
}

.marketprice_wrapper {
	text-align: center
}

.marketprice_pc {
	margin: 10px 150px
}

.marketprice_wrapper>.marketprice_pc {
	margin: 10px auto;
	display: inline
}